<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>835006417865-7jhc4odjtl8lpp46qld6ft7esbsgv0ch.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.835006417865-7jhc4odjtl8lpp46qld6ft7esbsgv0ch</string>
	<key>API_KEY</key>
	<string>AIzaSyAaqj-nHWxuvgZVdtR3pS51IMoBKtohi8w</string>
	<key>GCM_SENDER_ID</key>
	<string>835006417865</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.RevereSewerWaterApp.swift</string>
	<key>PROJECT_ID</key>
	<string>reveretest-13e39</string>
	<key>STORAGE_BUCKET</key>
	<string>reveretest-13e39.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:835006417865:ios:498b5e7e0df65ed1daf618</string>
	<key>DATABASE_URL</key>
	<string>https://reveretest-13e39.firebaseio.com</string>
</dict>
</plist>